@charset "ISO-8859-1";

body {
    display: block;
    margin: 0;
    padding: 0;
}

.background { 			 
			  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%) no-repeat center fixed;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			}
			
.highlight:hover {
	color: #00d2ff;
}

.text-jim {
	color: #00d2ff;
}

.right-border-orange {
  border-right: 1px solid #00d2ff;
}

.bottom-border-orange {
  border-bottom: 1px solid #00d2ff;
}

.btn-jim {
	border: 1px solid #eee;
    color: #fff;
    background: #eee;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    font-weight: bold;
    
    transition: 0.5s;
}

.btn-outline-jim {
    transition: 0.5s;
}

.btn-outline-jim:hover {
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
	opacity: 1;
}

.btn-check:active+.btn-outline-info, .btn-check:checked+.btn-outline-info, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show, .btn-outline-info:active {
    color: #000;
    background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
    border-color: #00d2ff;
}

.btn-jim:hover {
	color: #fff;
	border: 1px solid #0d6efd;
	opacity: 0.75;
}

ul {
	list-style-type: none;
	}
	
a {
	text-decoration: none;
	}
	
a:hover {
	color: white;
	}

button:focus:not(:focus-visible) {
    outline: 0;
}
.carousel-indicators .active {
	background-color: #00d2ff;
    opacity: 1;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border: 2px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.table>:not(caption)>*>* {
    opacity: 0.92;
}

.form-check-input {
	color: fff;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background-color: fff;
    border-color: #00d2ff;
    opacity: 0.5;
    
    transition: 0.5s;
}

.form-check-input:focus, .form-check-input:active, .form-check-input:checked {
	color: fff;
    background-color: #00d2ff;
    border-color: #00d2ff;
    opacity: 1;
}
